@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700|Source+Sans+Pro:300,400,700|Titillium+Web:900');

:root {
  --color-white: #eee;
  --color-white-accent: #e8e8e8;
  --color-light: #fff1d8;
  --color-light-accent: #f0dab3;
  --color-blue: #42b6ea;
  --color-blue-accent: #65c6f2;
  --color-green: #65e6b4;
  --color-green-accent: #8bf1c9;
  --color-red:#ff8f80;
  --color-red-accent: #ffa89c;
  --color-yellow:#d0c564;
  --color-yellow-accent: #e5dd98;
  --color-bg: #2b222b;
  --color-bg-accent: #302730;
  --color-bg-dark: #251d25;
  --size-xs: 3px;
  --size-sm: 6px;
  --size-md: 12px;
  --size-lg: 24px;
  --size-xl: 48px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
  border: 0;
  outline: none;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  box-sizing:border-box;
  font-family: 'Source Sans Pro', sans-serif;
}
p {
  color:var(--color-light);
  line-height:1.4em;
  font-weight:300;
  font-size:1em;
  text-align:justify;
}
.brand-logo {
  margin-left:9px;
  width:152px;
}
.brand-icon {
  width:42px;
}
.container {
  margin:0 var(--size-lg);
  height:100%;
  position:relative;
}
.hero {
  padding:60px 0;
}
.hero-section {
  width:100%;
}
.hero-content {
  flex-wrap:wrap;
}
.hero-wrapper {
  width:100%;
  position:relative;
}
.card-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.center {
  display:flex;
  align-items:center;
  justify-content:center;
}
.center-v {
  display:flex;
  align-items:center;
}
.center-h {
  display:flex;
  justify-content:center;
}

@media screen and (min-width: 990px) {
  .brand-logo {
    margin-left:12px;
    width:180px;
  }
  .brand-icon {
    width:52px;
  }
  .container {
    width:80%;
    max-width:1200px;
    margin:0 auto;
  }
  .hero {
    /* height:100vh;
    min-height:640px; */
    padding:140px 0;
  }
  .hero-wrapper {
    width:50%;
  }
}